@use '@gravity-ui/uikit/styles/mixins';
@use '../../../variables';

$block: '.#{variables.$ns}changelog-dialog-item';
$metaWidth: 80px;

#{$block} {
    display: flex;

    &__meta {
        width: $metaWidth;
    }

    &__date {
        line-height: var(--g-text-subheader-3-line-height);
    }

    &__date-skeleton {
        width: 80px;
        height: 20px;
    }

    &__label-new-skeleton {
        margin-top: var(--g-spacing-2);
        width: 42px;
        height: 20px;
    }

    &__content {
        flex: 1;
        margin-left: var(--g-spacing-5);
    }

    &__title {
        margin: 0;
    }

    &__title-skeleton {
        width: 100%;
        height: 20px;
    }

    &__image-skeleton {
        width: 100%;
        height: 258px;
        margin-top: var(--g-spacing-3);
        border-radius: 16px;
    }

    &__description {
        margin-top: var(--g-spacing-3);
    }

    &__description-skeleton {
        width: 100%;
        height: 54px;
    }

    &__button-skeleton {
        margin-top: var(--g-spacing-4);
        width: 86px;
        height: 28px;
    }

    &__button-skeleton + &__button-skeleton {
        margin-left: var(--g-spacing-4);
    }
}
