@use '../../../../../variables.scss';
$block: '.#{variables.$ns}guide-menu-item-text';

#{$block} {
    overflow: hidden;
    color: var(--g-color-text-complementary);
    text-overflow: ellipsis;

    font-family: 'YS Text';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
}
