<div>
    <button>
        <!-- тут главный контент (аватарка, текст, заголовок) и он занимает всю площадь -->
    </button>
    <div class="side-actions">
        position absolute, right, и тд
        если действия существуют - то контент основной области немного сжимается, чтобы справа было место для действий
        Они появляются по ховеру
        <button>
            действие
        </button>
         <button>
            действие
        </button>
    </div>
    <div class="bottom-actions"> 
       position absolute, bottom, и тд
        если действия существуют - то контент основной области немного сжимается, чтобы снизу было место для действий
          <button>
            действие
        </button>
         <button>
            действие
        </button>
    </div>
</div>