@use '../variables';
@use '@gravity-ui/uikit/styles/mixins';

$block: '.#{variables.$ns}notification';

$notificationSourceIconSize: 36px;

#{$block} {
    display: flex;
    padding: 12px;
    gap: 12px;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover {
        background: var(--yc-color-base-simple-hover);
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 4px;
        flex: 1;
        overflow-x: hidden;
    }

    &__right-top-part {
        display: flex;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
    }

    &__right-meta-and-title {
        flex: 1;
        min-width: 0;
        overflow-x: hidden;
    }

    &__right-meta,
    &__right-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__right-meta {
        display: flex;
        gap: 4px;
        color: var(--yc-color-text-secondary);
    }

    &__right-title {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;

        color: var(--yc-color-text-primary);
    }

    &__right-content {
        font-size: 13px;
        line-height: 18px;

        color: var(--yc-color-text-secondary);
    }

    &_unread {
        background: var(--yc-color-base-selection);
        &:hover {
            background: var(--yc-color-base-selection-hover);
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__actions_right-bottom-actions {
        margin-top: 8px;
        gap: 8px;
    }

    &__actions_right-side-actions {
        opacity: 0;
    }
    &:hover &__actions_right-side-actions {
        opacity: 1;
    }
    &_mobile &__actions_right-side-actions {
        opacity: 1;
    }

    &__action_icon {
        color: var(--yc-color-text-secondary);
    }

    &_theme_success {
        border-left: 4px solid var(--yc-color-line-positive);
    }
    &_theme_info {
        border-left: 4px solid var(--yc-color-line-info);
    }
    &_theme_warning {
        border-left: 4px solid var(--yc-color-line-warning);
    }
    &_theme_danger {
        border-left: 4px solid var(--yc-color-line-danger);
    }

    // swipe js styles (slightly modified)
    &__swipe {
        overflow: hidden;
        visibility: hidden;
        position: relative;
    }
    &__swipe-wrap {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: stretch;
    }
    &__swipe-wrap > div {
        width: 100%;
        position: relative;
    }

    &__swipe-action {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
