@use '../../../../variables';

$block: '.#{variables.$ns}gallery-image-view';

#{$block} {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &__image {
        max-width: 100%;
        max-height: 100%;
        transition: transform 0.3s ease-out;
        transform-origin: center center;
        user-select: none;
    }

    &__spin {
        position: absolute;
    }

    &_mobile #{$block}__image {
        // Touch optimizations
        touch-action: manipulation;
        -webkit-user-drag: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
        will-change: transform;
    }
}
