@use '../variables';

$block: '.#{variables.$ns}reactions';

#{$block} {
    &__add-reaction-button-content {
        color: var(--g-color-text-secondary);
    }

    &__popup {
        padding: 8px;
    }

    &__add-reaction-popover {
        max-width: unset;
    }

    &__reaction-button-content_size_xs {
        font-size: 12px;
    }
    &__reaction-button-content_size_xs#{&}__reaction-button-content_text {
        font-size: var(--g-text-caption-1-font-size);
    }

    &__reaction-button-content_size_s {
        font-size: 16px;
    }
    &__reaction-button-content_size_s#{&}__reaction-button-content_text {
        font-size: var(--g-text-caption-2-font-size);
    }

    &__reaction-button-content_size_m {
        font-size: 16px;
    }
    &__reaction-button-content_size_m#{&}__reaction-button-content_text {
        font-size: var(--g-text-body-1-font-size);
    }

    &__reaction-button-content_size_l {
        font-size: 16px;
    }
    &__reaction-button-content_size_l#{&}__reaction-button-content_text {
        font-size: var(--g-text-subheader-1-font-size);
    }

    &__reaction-button-content_size_xl {
        font-size: 20px;
    }
    &__reaction-button-content_size_xl#{&}__reaction-button-content_text {
        font-size: var(--g-text-subheader-2-font-size);
    }
}
