@use '../variables';

.#{variables.$ns}form-row {
    --gc-form-row-label-width: 172px;
    --gc-form-row-field-height: 28px;

    margin-bottom: 20px;
    align-items: flex-start;
    display: flex;

    &__left {
        display: flex;
        flex-flow: row;
        min-height: var(--gc-form-row-field-height);
        box-sizing: border-box;
        flex-shrink: 0;
        width: var(--gc-form-row-label-width);
        padding-right: 8px;
    }

    &__field-name {
        align-self: center;
    }

    &__field-name-text {
        word-break: break-word;
    }

    &__required-mark {
        line-height: 0;
        vertical-align: baseline;
        color: var(--yc-color-text-danger);
        font-size: inherit;
    }

    &__help-popover {
        display: inline-flex;
        vertical-align: middle;
        align-items: center;
    }

    &__right {
        flex: 1 1 auto;
        min-width: 0;
    }

    &__field-description {
        margin: 10px 0 0;
        color: var(--yc-color-text-secondary);
        word-break: break-word;
    }
}
