@use '../../../variables';
@use '../../variables.scss' as gallery-css-variables;

$block: '.#{variables.$ns}desktop-gallery-header';

#{$block} {
    $minButtonWidth: 44px;

    padding: var(--g-spacing-2) var(--g-spacing-3) var(--g-spacing-2) var(--g-spacing-5);

    > * {
        flex: 1;
        min-width: 0;
    }

    &__active-item-info {
        align-self: stretch;
        align-items: center;
        display: flex;
        flex: 1;
    }

    &__navigation {
        display: flex;
        gap: var(--g-spacing-2);
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    &__actions {
        display: flex;
        gap: var(--g-spacing-1);
        align-items: stretch;
        justify-content: flex-end;
        flex: 1;
    }

    &_full-screen {
        position: absolute;
        inset-block-start: 0;
        inset-inline: 0;
        z-index: 3;

        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}

.g-root_theme_light,
.g-root_theme_light-hc {
    #{$block}_full-screen {
        background-color: gallery-css-variables.$lightThemeGalleryBaseColor;
    }
}

.g-root_theme_dark,
.g-root_theme_dark-hc {
    #{$block}_full-screen {
        background-color: gallery-css-variables.$darkThemeGalleryBaseColor;
    }
}
