@use '@gravity-ui/uikit/styles/mixins';
@use '../../../variables';

$block: '.#{variables.$ns}changelog-dialog-item';
$metaWidth: 124px;

#{$block} {
    display: flex;

    &__meta {
        width: $metaWidth;
    }

    &__date {
        line-height: var(--g-text-subheader-3-line-height);
        color: var(--g-color-text-secondary);
    }

    &__label-new {
        margin-top: 4px;
    }

    &__content {
        flex: 1;
        margin-left: 16px;
    }

    &__title {
        margin: 0;
        @include mixins.text-subheader-3();
    }

    &__image {
        margin-top: 12px;
        border-radius: 16px;
        overflow: hidden;
    }

    &__description {
        margin-top: 12px;
    }

    &__story-button {
        margin-top: 16px;
    }
}
