@use '@gravity-ui/uikit/styles/mixins';
@use '../../../variables';

$block: '.#{variables.$ns}changelog-dialog-item';

#{$block} {
    display: flex;

    &__meta {
        width: var(--gc-changelog-dialog-meta-width);
    }

    &__date {
        line-height: var(--g-text-subheader-3-line-height);
        color: var(--g-color-text-secondary);
    }

    &__label-new {
        margin-block-start: var(--g-spacing-2);
    }

    &__content {
        flex: 1;
        margin-inline-start: var(--g-spacing-5);
    }

    &__title {
        margin: 0;
        @include mixins.text-subheader-2();
    }

    &__image {
        margin-block-start: var(--g-spacing-3);
        border-radius: 16px;
        overflow: hidden;
    }

    &__description {
        margin-block-start: var(--g-spacing-3);
    }

    &__button {
        margin-block-start: var(--g-spacing-4);
    }

    &__button + &__button {
        margin-inline-start: var(--g-spacing-4);
    }
}
