@use '@gravity-ui/uikit/styles/mixins';
@use '../../../variables';

$block: '.#{variables.$ns}changelog-dialog-item';
$metaWidth: 80px;

#{$block} {
    display: flex;

    &__meta {
        width: $metaWidth;
    }

    &__date {
        line-height: var(--g-text-subheader-3-line-height);
        color: var(--g-color-text-secondary);
    }

    &__label-new {
        margin-top: 8px;
    }

    &__content {
        flex: 1;
        margin-left: 20px;
    }

    &__title {
        margin: 0;
        @include mixins.text-subheader-2();
    }

    &__image {
        margin-top: 12px;
        border-radius: 16px;
        overflow: hidden;
    }

    &__description {
        margin-top: 12px;
    }

    &__button {
        margin-top: 16px;
    }

    &__button + &__button {
        margin-left: 16px;
    }
}
