@use '../../../../variables';

$block: '.#{variables.$ns}gallery-unsupported-format-view';

#{$block} {
    text-align: center;

    &__icon {
        font-size: 48px;
        margin-bottom: var(--g-spacing-4);
        color: var(--g-color-text-secondary);
    }

    &__message {
        margin-bottom: var(--g-spacing-2);
        font-weight: 500;
    }

    &__filename {
        margin-bottom: var(--g-spacing-2);
        word-break: break-word;
    }

    &__size,
    &__format {
        margin-bottom: var(--g-spacing-1);
    }
}
