@use '../variables';
@use '@gravity-ui/uikit/styles/mixins';

$contentMargin: 40px;

$imageSmallSize: 100px;
$imageMediumSize: 150px;
$imageLargeSize: 230px;
$imagePromoSize: 200px;

$block: '.#{variables.$ns}placeholder-container';

#{$block} {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: variables.$bigOffset;

    &__image {
        flex-shrink: 0;

        img {
            display: block;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-shrink: 0;

        width: 260px;
    }

    &__title {
        #{$block}_size_s & {
            @include mixins.text-subheader-1();
        }

        #{$block}_size_m & {
            @include mixins.text-subheader-2();
        }

        #{$block}_size_l & {
            @include mixins.text-subheader-3();
        }

        #{$block}_size_promo & {
            @include mixins.text-header-1();
        }
    }

    &__description {
        margin-top: variables.$smallOffset;
    }

    &__action {
        margin-top: variables.$normalOffset;
        display: flex;
        flex-direction: row;
    }

    &_direction {
        &_row {
            &#{$block}_align {
                &_left {
                    justify-content: flex-start;
                }

                &_center {
                    justify-content: center;
                }
            }

            #{$block}__content {
                margin-left: variables.$bigOffset;

                &_s {
                    min-height: 130px;
                    width: calc(100% - #{$contentMargin} - #{$imageSmallSize});
                }

                &_m {
                    min-height: 180px;
                    width: calc(100% - #{$contentMargin} - #{$imageMediumSize});
                }

                &_l {
                    min-height: 320px;
                    width: calc(100% - #{$contentMargin} - #{$imageLargeSize});
                }
            }
        }

        &_column {
            flex-direction: column;

            #{$block}__content {
                margin-top: variables.$normalOffset;
                width: 340px;
                align-items: center;
                text-align: center;
            }

            &#{$block}_size {
                &_promo {
                    padding: variables.$normalOffset;

                    #{$block}__content {
                        width: 100%;
                    }
                }
            }
        }
    }
}
