@use '../variables';

$block: '.#{variables.$ns}password-input';

#{$block} {
    &::-ms-reveal,
    &::-ms-clear {
        display: none;
    }

    &__additional-right-content {
        display: flex;
        align-items: center;
    }

    &__copy-button {
        margin-right: 4px;
    }
}
