@use '../variables';

$block: '.#{variables.$ns}password-input';

#{$block} {
    &__additional-right-content {
        display: flex;
    }

    &__button {
        --yc-button-background-color-hover: transparent;
    }
}
