$ns: 'gc-';

// Sizes
$inlineOffset: var(--g-spacing-3);
$regularOffset: var(--g-spacing-4);
$normalOffset: var(--g-spacing-5);
$mediumOffset: var(--g-spacing-8);
$bigOffset: var(--g-spacing-10);
$doubleInlineOffset: calc(#{$inlineOffset} * 2);
$doubleRegularOffset: calc(#{$regularOffset} * 2);
$smallOffset: calc(#{$normalOffset} * 0.5);
$microOffset: var(--g-spacing-2);
$nanoOffset: var(--g-spacing-1);
