@use '../variables';
@use './variables.scss' as gallery-css-variables;

$block: '.#{variables.$ns}gallery';

$horizontalGalleryMargin: 132px;
$verticalGalleryMargin: 28px;

#{$block} {
    --g-modal-margin: 0;

    &__content {
        display: flex;
        flex-direction: column;

        width: calc(100vw - $horizontalGalleryMargin * 2);
        height: calc(100vh - $verticalGalleryMargin * 2);
    }

    &__header {
        display: flex;
        align-items: start;

        padding: var(--g-spacing-2) var(--g-spacing-3) var(--g-spacing-2) var(--g-spacing-5);

        > * {
            flex: 1;
            min-width: 0;
        }
    }

    &__body {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        flex: 1;
        min-height: 0;

        padding: 0 var(--g-spacing-2);

        grid-area: body;
    }

    &__footer {
        padding: var(--g-spacing-2) var(--g-spacing-5) var(--g-spacing-4) var(--g-spacing-5);
    }

    &__preview-list {
        display: flex;
        gap: var(--g-spacing-2);
        align-items: stretch;
        overflow: auto hidden;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__preview-list-item {
        width: 50px;
        min-width: 50px;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: var(--g-border-radius-l);
        padding: 0;
        margin: 0;

        appearance: none;
        cursor: pointer;

        background-color: transparent;
        outline: none;
        overflow: hidden;

        &_selected {
            border-color: var(--g-color-line-brand);
        }
    }

    &_mode_full-screen,
    &_mode_mobile {
        overflow: hidden;

        --g-modal-border-radius: 0;

        #{$block} {
            &__content {
                width: 100vw;
                height: 100vh;
                position: relative;
            }

            &__body {
                padding: 0;
            }

            &__header {
                position: absolute;
                inset-block-start: 0;
                inset-inline: 0;
                z-index: 3;

                opacity: 0;

                &:hover {
                    opacity: 1;
                }
            }

            &__footer {
                position: absolute;
                inset-inline: 0;
                inset-block-end: 0;
                z-index: 1;

                opacity: 0;
                background-color: rgba(0, 0, 0, 0.45);

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    &_mode_mobile {
        &#{$block}_interactive {
            #{$block} {
                &__content {
                    display: grid;
                    grid-template: 'mobile-header' min-content 'body' auto 'mobile-footer' min-content;
                }

                &__body {
                    flex: 1;
                    min-height: 0;
                    overflow: hidden;
                }

                &__header {
                    position: static;
                    opacity: 1;
                    z-index: auto;
                }
            }
        }
    }
}

.g-root_theme_light,
.g-root_theme_light-hc {
    #{$block}_mode_full-screen {
        #{$block}__header {
            background-color: gallery-css-variables.$lightThemeGalleryBaseColor;
        }
    }

    #{$block}_mode_mobile {
        #{$block}__content {
            background-color: gallery-css-variables.$lightThemeGalleryBackgroundColor;
        }
    }
}

.g-root_theme_dark,
.g-root_theme_dark-hc {
    #{$block}_mode_full-screen {
        #{$block}__header {
            background-color: gallery-css-variables.$darkThemeGalleryBaseColor;
        }
    }

    #{$block}_mode_mobile {
        #{$block}__content {
            background-color: gallery-css-variables.$darkThemeGalleryBackgroundColor;
        }
    }
}
