$lightThemeGalleryBaseColor: rgba(255, 255, 255, 0.45);
$darkThemeGalleryBaseColor: rgba(0, 0, 0, 0.45);

$lightThemeGalleryBackgroundColor: rgba(255, 255, 255);
$darkThemeGalleryBackgroundColor: rgba(0, 0, 0);
