@use '../variables';
@use '@gravity-ui/uikit/styles/mixins';

$block: '.#{variables.$ns}notifications';

#{$block} {
    display: flex;
    flex-direction: column;
    color: var(--yc-color-text-primary);
    background: var(--yc-color-base-background);

    border-radius: 8px;
    border: 1px solid var(--yc-color-line-generic);
    margin: 16px;
    width: 350px;
    height: 470px;

    &__head {
        display: flex;
        padding: 16px;
        border-bottom: 1px solid var(--yc-color-line-generic);

        &-title {
            flex: 1;

            font-weight: 500;
            font-size: 17px;
            line-height: 24px;

            color: var(--yc-color-text-primary);
        }
    }

    &__body {
        height: 100%;
        padding: 4px;
        overflow-y: auto;
    }

    &__empty {
        height: 100%;
        gap: 16px;

        &,
        &-message {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        &-title {
            margin-bottom: 3px;
            font-weight: 500;
            font-size: 17px;
            line-height: 24px;
        }

        &-message-content {
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    // &__notification-wrapper::after  {
    //     content: "";
    //     display: block;
    //     border-top: 1px solid var(--yc-color-line-generic);
    //     margin: 0 12px;
    // }

    // &__notification-wrapper:hover &__notification-wrapper::after {
    //     border-top: 1px solid rgba(0, 0, 0, 0);
    // }
    &__separator {
        border-bottom: 1px solid var(--yc-color-line-generic);
        margin: 4px;
    }
}
