@use 'sass:math';
@use '../variables';

$block: '.#{variables.$ns}file-preview';

$smallRoundedButtonSize: 24px;

#{$block} {
    --gc-_-box-shadow: none;
    --gc-_-border-radius: 4px;
    --gc-_-color-base-background: transparent;

    position: relative;

    width: 120px;

    &:hover,
    &:focus-within {
        #{$block}__actions {
            opacity: 1;
        }

        --gc-_-color-base-background: var(--g-color-base-simple-hover, rgba(0, 0, 0, 0.05));
    }

    &__actions {
        position: absolute;
        top: -1 * math.div($smallRoundedButtonSize, 2);
        right: -1 * math.div($smallRoundedButtonSize, 2);
        z-index: 1;

        display: flex;
        gap: 4px;

        opacity: 0;
    }

    &:hover {
        --gc-_-color-base-background: var(--yc-color-base-simple-hover);
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;

        cursor: pointer;
        position: relative;
        outline: none;

        box-shadow: var(--gc-card-box-shadow);
        background-color: var(--gc-_-color-base-background);
        border-radius: var(--gc-_-border-radius);
        padding: 4px 10px;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: var(--gc-_-border-radius);
            pointer-events: none;
        }

        &:hover {
            --gc-_-box-shadow: 0px 3px 10px var(--g-color-sfx-shadow);
        }

        &:focus::after {
            content: '';
            box-shadow: 0 0 0 2px var(--g-color-line-misc);
        }

        &:focus:not(:focus-visible)::after {
            box-shadow: none;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 4px;
        background-color: var(--g-color-base-generic-medium);

        height: 40px;
        width: 40px;

        &-svg {
            color: var(--g-color-base-background);
        }

        &_type {
            &_image,
            &_video,
            &_code,
            &_archive,
            &_music {
                background-color: var(--g-color-base-misc-heavy);
            }
            &_text {
                background-color: var(--g-color-base-info-heavy);
            }
            &_pdf {
                background-color: var(--g-color-base-danger-medium);
            }
            &_table {
                background-color: var(--g-color-base-positive-medium);
            }
        }
    }

    &__name {
        margin-top: 4px;
    }

    &__name,
    &__description {
        text-align: center;
        width: 100%;
    }

    &__image {
        position: relative;

        border-radius: 4px;
        overflow: hidden;

        height: 64px;
        width: 96px;

        &-img {
            position: absolute;
            top: 0;
            left: 0;

            object-fit: cover;

            height: 100%;
            width: 100%;
        }
    }
}
