@use '../../../variables.scss';
@use '@gravity-ui/uikit/styles/mixins';

$block: '.#{variables.$ns}guide-menu-item-text';

#{$block} {
    overflow: hidden;
    color: var(--g-color-text-complementary);
    text-overflow: ellipsis;

    @include mixins.text-body-1();
}
