@use '../variables';

$block: '.#{variables.$ns}filters';

#{$block} {
    margin-block-start: calc(-1 * var(--g-spacing-2));
    margin-inline-start: calc(-1 * var(--g-spacing-2));

    &__label,
    &__empty-text,
    &__add-filter {
        display: inline-block;

        margin-block-start: var(--g-spacing-2);
        margin-inline-start: var(--g-spacing-2);
    }
}
