@use '../variables';

$block: '.#{variables.$ns}changelog-dialog';
$width: 732px;
$maxItemsHeight: 70vh;

#{$block} {
    width: $width;
    --gc-changelog-dialog-meta-width: 80px;

    &__full-list-link-icon {
        margin-inline-start: var(--g-spacing-1);
        vertical-align: middle;
    }

    &__items-container {
        max-height: $maxItemsHeight;
        overflow-y: auto;
        margin-block-end: var(--g-spacing-5);

        padding-inline-end: var(--g-spacing-5);

        #{$block}__item:last-child {
            margin-block-end: 0;
        }
    }

    &__item {
        margin-block-end: var(--g-spacing-8);
    }

    &__empty-placeholder {
        color: var(--g-color-text-secondary);
        text-align: center;
    }

    &__loading {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 70vh;
        width: 100%;
    }
}
