@use '../variables';

$block: '.#{variables.$ns}changelog-dialog';
$width: 732px;
$maxItemsHeight: 70vh;

#{$block} {
    width: $width;

    &__full-list-link-icon {
        margin-left: var(--g-spacing-1);
        vertical-align: middle;
    }

    &__items-container {
        max-height: $maxItemsHeight;
        overflow-y: auto;
        margin-bottom: var(--g-spacing-5);

        #{$block}__item:last-child {
            margin-bottom: 0;
        }
    }

    &__item {
        margin-bottom: var(--g-spacing-8);
    }

    &__empty-placeholder {
        color: var(--g-color-text-secondary);
        text-align: center;
    }

    &__loading {
        text-align: center;
        margin: var(--g-spacing-8);
    }
}
